html{
	height: 100%;
}

body {
	padding-top: 130px;
	padding-bottom: 20px;
	background: #6596a1;
	min-height: 100%;
}

a {
	color: white;
}

.modal-body {
	padding-bottom: 0;
}

@media (max-width: 768px) {
	body {
		padding-top: 60px;
	}

	.modal-body input {
		margin-bottom: 5px;
	}
}

.graph-container {
	max-width:700px;
	margin: 0 auto 50px;
	padding: 50px;
	background: #ffffff;
	border-radius: 7px;
}

.graph {
	height: 300px;
	background: #eeeeee;
	max-width:600px;
}

.text-justify {
	text-align: justify;
}
